.h{
    text-align: center;
    color: aliceblue;
    border:10px solid black;
}
img{
    width: 200px;
    height: 300px;
}
#star{
    border: 30px solid gold;
    padding: 50px;
}
a{
    font-size: 30px;
    padding-left: 30px;
    color: #E72929;

}
.movie{
    color:aliceblue;
    text-align: center;
    border: 30px solid gold;
}
#movies{
    background-color:#1B1A17;
}
.tr{
  padding-left: 500px;
}
#bg{
    background-color:#481E14;
}
#al{
    color: blanchedalmond;;
}
h2{
    color: blanchedalmond;
}
p{
    font-size: 20px;
    color: blanchedalmond;
}
#aavesham{
        border: 30px solid gold;
        padding-left: 800px;
}
h3{
    color: blanchedalmond; 
}
.center{
    padding-left: 50px;
    weight: 50px;
    font-size: 20px;
    color: #E72929;
}

